@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Passenger>

@{
    ViewData["Title"] = "All Passengers";
}
<div class="h1 text-center">All Passengers</div>

<div class="container-fluid overflow-auto">


    <table class="table-bordered table-dark table-responsive">
        <thead>
            <tr>
                <td class="h3">@Html.DisplayNameFor(model => model.Id)</td>
                <td class="h3">@Html.DisplayNameFor(model => model.Name)</td>
                <td class="h3">@Html.DisplayNameFor(model => model.Job)</td>
                <td class="h3">@Html.DisplayNameFor(model => model.Email)</td>
                <td class="h3">@Html.DisplayNameFor(model => model.Age)</td>
                <td class="h3">@Html.DisplayNameFor(model => model.Booking_Number)</td>
                <td class="h3">@Html.DisplayNameFor(model => model.Flight_Number)</td>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td class="h5">@Html.DisplayFor(modelitem => p.Id)</td>
                    <td class="h5">@Html.DisplayFor(modelitem => p.Name)</td>
                    <td class="h5">@Html.DisplayFor(modelitem => p.Job)</td>
                    <td class="h5">@Html.DisplayFor(modelitem => p.Email)</td>
                    <td class="h5">@Html.DisplayFor(modelitem => p.Age)</td>
                    <td class="h5">@Html.DisplayFor(modelitem => p.Booking_Number)</td>
                    <td class="h5">@Html.DisplayFor(modelitem => p.Flight_Number)</td>



                </tr>
            }
        </tbody>
    </table>


